@import url("https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Manufacturing+Consent&display=swap");
@import "tailwindcss";

@theme {
    --color-primary: #3a2258;
    --color-secondary: #dedc52;
    --color-light: #ffebcd;
    --color-dark: #180e25;
    --color-success: #1f7f40;
    --color-error: #5a1623;
    --color-warning: #f8c715;
    --font-title: "Manufacturing Consent", system-ui;
}

body {
    background-color: var(--color-light);
    font-family: "Gudea", sans-serif;
}

.font-title {
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-size: xxx-large;
}

.font-footer {
    font-size: x-large;
}
